.header-container {
    background-color: #212125;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 6.66%;
    border-top: 1px solid #FE3189;
    box-shadow: 10px 10px 8px rgba(0,0,0,0.3);
}

.flex-container {
    width: 1200px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.purple-circle {
    color: #FE3189;
    margin-right: 18px;
    font-size: 18px;
}

.flex-container > div {
    color: #EAEAEA;
    font-size: 22px;
    padding-right: 8px;
}

.flex-container > div:nth-child(1){
    font-weight: 600;
}

.flex-container > div:nth-child(2){
    font-weight: 300;
}